:root {
  --primaryColor: hsl(199, 100%, 33%);
  --secondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 41%, 36%);
  --whiteColorDemi: hsl(240, 42%, 93%);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --greyBg: rgb(183, 179, 179); /* Added value for greyBg */
  --greyText: rgb(146, 137, 137);
  --box-shadow: 0 2px 8px rgba(66, 53, 53, 0.45);
}

.categorySection {
  padding: 20px;
  background-color: var(--whiteColorDemi);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
.categorySection h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--blackColor);
}
.categorySection .categories {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.categorySection .categories button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--greyBg);
  border: 1px solid transparent;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
.categorySection .categories button.active {
  background-color: var(--primaryColor);
  border: 1px solid var(--blackColor);
  color: var(--whiteColor);
}
.categorySection .categories button.active:hover {
  border: 1px solid transparent;
}
.categorySection .categories button:hover {
  background-color: var(--secondaryColor);
  border: 1px solid var(--blackColor);
}
.categorySection .content .books h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--blackColor);
}
.categorySection .content .books ul {
  list-style-type: none;
  padding: 0;
}
.categorySection .content .books ul li {
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}
.categorySection .content .books ul li:hover {
  background-color: var(--whiteColorDemi);
}
.categorySection .content .book-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--whiteColor);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.categorySection .content .book-details h4 {
  margin: 0 0 10px;
  font-size: 22px;
  color: var(--textColor);
}
.categorySection .content .book-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.categorySection .content .book-details p {
  margin: 10px 0;
  font-size: 16px;
  color: black;
}
.categorySection .content .book-details button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--blackColor);
  cursor: pointer;
  transition: background-color 0.3s;
}
.categorySection .content .book-details button:hover {
  background-color: var(--secondaryColor);
  border: 1px solid var(--blackColor);
}
.categorySection .content .book-details .btn {
  margin-left: 30rem;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.categorySection .content .book-details .btn:hover {
  background-color: var(--secondaryColor);
  border: 1px solid var(--blackColor);
}/*# sourceMappingURL=categories.css.map */