:root {
  --primaryColor: hsl(199, 100%, 33%);
  --secondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 41%, 36%);
  --whiteColorDemi: hsl(240, 42%, 93%);
  --greyText: rgb(220, 210, 210);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --greyBg: rgb(240, 240, 240); /* Added value for greyBg */
}

.homeSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: rgb(131, 35, 0);
  color: white;

  .content {
    max-width: 50%;

    h3 {
      font-size: 48px;
      font-weight: bold;
    }

    p {
      margin: 10px 0;
      font-size: 16px;
    }

    .orderButton {
      padding: 10px 20px;
      background-color: var(--primaryColor);
      border: none;
      border-radius: 5px;
      color: white;
      border: 1px solid transparent;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--secondaryColor);
        border: 1px solid white;
      }
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .bookCover {
      width: 300px; // Adjust as needed
      height: auto;
      margin-bottom: 20px;
      border-radius: 8px;
    }

    .related-books {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .related-book img {
        width: 100px; // Adjust as needed
        height: auto;
        border-radius: 5px;
      }
    }
  }
}
