:root {
  --primaryColor: hsl(199, 100%, 33%);
  --secondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 41%, 36%);
  --whiteColorDemi: hsl(240, 42%, 93%);
  --greyText: rgb(220, 210, 210);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --greyBg: rgb(240, 240, 240); /* Added value for greyBg */
}

.homeSection {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: rgb(131, 35, 0);
  color: white;

  .content {
    max-width: 50%;
    //justify-content: center;

    h3 {
      font-size: 30px;
      font-weight: bold;
    }

    p {
      margin: 10px;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .orderButton {
      padding: 10px 20px;
      background-color: var(--primaryColor);
      border: none;
      border-radius: 5px;
      color: black;
      border: 1px solid transparent;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--secondaryColor);
        border: 1px solid white;
      }
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;

    .bookCover {
      width: 100%; // Adjust as needed
      height: auto;
      margin-bottom: 1px;
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeSection {
    flex-direction: row; // Stack content and image vertically
    padding: 20px; // Adjust padding for smaller screens
  }
}

@media screen and (max-width: 480px) {
  .homeSection {
    padding: 20px; // Adjust padding for smaller screens

    .content {
      max-width: 100%; // Allow content to take full width on mobile

      h3 {
        font-size: 24px; // Reduce font size for mobile
      }

      p {
        font-size: 14px; // Adjust paragraph font size
      }

      .orderButton {
        font-size: 14px; // Reduce button font size
      }
    }
  }

  .imageContainer {
    .bookCover {
      width: 80%; // Adjust width for mobile
      height: auto; // Maintain aspect ratio
      max-width: 300px; // Optional: limit max width
      margin: 0 auto; // Center the image
    }
  }
}
